.banner_swiper, .news_swiper, .like_swiper {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.swiper-pagination {
    font-weight: bold;
}


/* banner */
.banner_container {
    .banner_wrap {
        position: relative;
        .banner_swiper {
            height: 91vh;
        }
        .bg {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 91vh;
            // text-indent: -9999rem;
            background-color: #000;
            opacity: 0.3;
            z-index: 1;
        }
        .banner_txtbox {
            position: absolute;
            top:50%;
            left: 50%;
            line-height: 1.2;
            transform: translate(-50%, -50%);
            z-index: 1;
            .banner_title {
                font-family: 'Shilla_CultureB-Bold';
                font-size: 3rem;
                color:#f9eea7;
            }
            .banner_txt {
                margin-top: 1rem;
                font-size: 2.9rem;
                color:#fff;
            }
        }
    }
}

/* news */
.news_container {
    margin-top: 10rem;
    .news_wrap {
        max-width: 145rem;
        margin: 0 auto;
        .news_bigbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            .news_box1 {
                padding-right: 0;
                text-align: center;
                h2 {
                 font-size: 4rem;   
                 letter-spacing: 0.2rem;
                }
                .news_txt {
                    padding-top: 1rem;
                    font-size: 1.7rem;
                }
                .more {
                    padding-top: 1rem;
                    a {
                        display: inline-block;
                        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                        margin-top: 5rem;
                        font-size: 1.3rem;
                        border: 1px solid #982029;
                        background-color: #982029;
                        color: #fff;
                        span {
                            position: relative;
                            padding-right: 1.5rem;
                            &::after {
                                position: absolute;
                                right: 0; 
                                top: 0.4rem; 
                                content: '';
                                width: 0.7rem; 
                                height:0.7rem; 
                                border-top: 0.2rem solid #fff;
                                border-right: 0.2rem solid #fff;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
            .news_box2 {
                margin-top: 5rem;
                border-top: 1px solid #982029;
                .news_item{
                    &:nth-child(4) {
                        border-bottom: 1px solid #ddd;
                    }
                    .news_item_1 {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 1.5rem 3rem 0 5rem;
                        border-top: 1px solid #ddd;
                        .item {
                            width: 2.8rem;
                            padding: 0.2rem 0.5rem 0 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            border: 1px solid #982029;
                            letter-spacing: 0.1rem;
                        }
                        .title {
                            font-size: 1.6rem;
                            cursor: pointer;
                        }
                    }
                    .news_date {
                        padding:1.5rem 0 1.5rem 5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .prime_time {
        margin-top: 10rem;
        >div {
            position: relative;
            width: 100%;
            padding-top: 25rem;
            >span {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/time.jpg');
                background-position: -15rem center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    .news_section2 {
        margin-top: 10rem;
        position: relative;
        .news_wrap2 {
            max-width: 145rem;
            margin: 5rem auto 0 auto;
            overflow: hidden;
            .news_slide_box {
                .news_img {
                    img {
                        width: 30rem;
                        border-radius: 0.8rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        .news_pagination {
            position: absolute;
            bottom: -6.5rem;
            z-index: 0;
        }
        .swiper-pagination-bullet{
            background-color: #982029;
        }
    }
}

/* like */
.like_container {
    margin-top: 15rem;
    padding-bottom: 6rem;
    background-color: #F1F1F1;
    .like_wrap {
        max-width: 145rem;
        margin: 0 auto;
        .like_bigbox {
            width: 100%;
            margin: 0;
            padding-top: 5rem;
            h2 {
                padding-bottom: 3rem;
                font-size: 3rem;
                color: #212121;
                text-align: center;
            }
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                border: 0.1rem solid #ddd;
                background-color: #fff;
                li {
                    width: 94%;
                    padding: 5.5% 3% 3% 3%;
                    border-bottom: 0.1rem dotted #ddd;
                    cursor: pointer;
                    &:nth-child(7) {border-bottom: 0;}
                    .box_img {
                        display: inline-block;
                        width: 5rem;
                        height: 5rem;
                        background-image: url('../images/main_ic.png');
                        background-repeat: no-repeat;
                    }
                    .box_img1 {background-position: 0 center;}
                    .box_img2 {background-position: -5rem center;}
                    .box_img3 {background-position: -10rem center;}
                    .box_img4 {background-position: -15rem center;}
                    .box_img5 {background-position: -20rem center;}
                    .box_img6 {background-position: -25rem center;}
                    .box_img7 {background-position: -30rem center;}
                    span {
                        position: relative;
                        top:-2rem;
                        left: 1rem;
                    }
                }
            }
        }
        .like_bigbox2 {
            display: flex;
            justify-content: space-between;
            gap: 2%;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 5rem;
            >* {
                width: 90%;
                flex-grow: 1;
                &:nth-child(2) {margin-top: 2.5rem;}
                &:nth-child(3) {margin-top: 2.5rem;}
                &:nth-child(4) {margin-top: 2.5rem;}
            }
            .like_box1 {
                background-color: #276456;
                padding-bottom: 15rem;
                .safety {
                    font-size: 2rem;
                    .title {
                        padding:1.5rem 0;
                        color: #fff;
                        text-align: center;
                        strong {font-size: 2.5rem; color:#fcd204;}
                    }
                    >div {
                        position: relative;
                        width: 85%;
                        margin: 1rem auto;
                        padding: 3%;
                        background-color: #fff;
                        line-height: 1.4;
                        span {font-size: 1.6rem;}
                        &::after {
                            position: absolute;
                            right: 0;
                            top:0;
                            width: 7rem;
                            height: 100%;
                            background-color: #fcd204;
                            transform: rotate(0);
                            content: '';
                        }
                        .like_next {
                            position: absolute;
                            top:50%;
                            right: 3.2rem;
                            display:inline-block;
                            width: 1.3rem;
                            height: 1.3rem;
                            border-top: 0.2rem solid #fff;
                            border-right: 0.2rem solid #fff;
                            transform: translateY(-50%) rotate(45deg);
                            cursor: pointer;
                            z-index: 1;
                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }

                }
            }
            .like_box2 {
                border: 0.1rem solid #ddd;
                background-color: #fff;        
                h3 {
                    padding: 2%;
                    border-bottom: 0.1rem solid #ddd; 
                    text-align: center;
                }
                >div {
                    padding-bottom: 2rem;
                    canvas#myChart {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
            .like_box3 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 0.1rem solid #ddd;
                background-color: #fff;
                li {
                    padding: 5%;
                    border-top: 0.1rem solid #ddd;
                    border-bottom: 0.1rem solid #ddd;
                    text-align: center;
                    &:nth-child(1) {border-top:0;}
                    &:nth-child(4) {border-bottom:0;}
                    a {
                        .br1_txt1 {
                            display: block;
                            font-size: 2rem;
                            color: #fff;
                            text-align: center;
                            .br1_txt2 {
                                color: #fcd204;
                            }
                        }
                    }
                }
            }
            .like_box4 {
                border: 0.1rem solid #ddd;
                .like_swiper {
                    h3 {
                        padding: 2%;
                        border-bottom: 0.1rem solid #ddd;
                        background-color: #fff;
                        text-align: center;
                    }
                    .swiper-wrapper {
                        background-color: #fff;
                        cursor: pointer;
                        .like_item {
                            width: 100%;
                            height: 36rem;
                        }
                    }
                }
            }
        }
    }
}

/* pr */
.pr_container {
    margin-top: 5rem;
    .pr_wrap {
        max-width: 145rem;
        margin: 0 auto;
        .pr_bigbox {
            display: flex;
            gap: 2.5%;
            flex-wrap: wrap;
            padding-bottom: 10rem;
            .pr_box1 {
                width: 100%;
                h3 {
                    font-size: 2.5rem;
                    padding-bottom: 5rem;
                    text-align: center;
                }
                .video {
                    position: relative;
                    width: 100%;
                    padding-bottom: 35rem;
                    iframe {
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .pr_box2 {
                position: relative;
                width: 100%;
                margin-top: 5rem;
                h3 {
                    font-size: 2.5rem; 
                    padding-bottom: 5rem; 
                    text-align: center;
                }
                .pr_more {
                    position: absolute;
                    bottom: -5rem;
                    right: 50%;
                    padding: 0.5rem 1rem;
                    border: 0.1rem solid #000;
                    border-radius: 0.3rem;
                    transform: translateX(50%);
                    a {
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
                .pr_swiper {
                    .imgbox {
                        position: relative;
                        margin-bottom: 2rem;
                        .pr_item {
                            width: 90%;
                            height: 45rem;
                            .pr_img {
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .pr_txt {
                                position: absolute;
                                bottom: 0rem;
                                left: 0rem;
                                width: 60%;
                                padding: 4rem;
                                font-size: 1.6rem;
                                color: #fff;
                                border-radius: 0.5rem;
                                background: rgb(195,20,50); /* Old browsers */
                                background: -moz-linear-gradient(-45deg,  rgba(195,20,50,1) 0%, rgba(36,11,54,1) 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(-45deg,  rgba(195,20,50,1) 0%,rgba(36,11,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(135deg,  rgba(195,20,50,1) 0%,rgba(36,11,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c31432', endColorstr='#240b36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                                text-align: left;
                                span {
                                    padding-top: 0.5rem;
                                    font-size: 1.5rem;
                                }




                            }
                        }
                    }
                }
            }
        }
    }
}
